---
layout: layouts/base.njk
---
<article class="section-block">
  <div class="container prose">
    <header class="post-header">
      <span class="section-label">Blog</span>
      <h1>{{ title }}</h1>
      <time class="post-date" datetime="{{ date | isoDate }}">{{ date | readableDate }}</time>
    </header>
    {{ content | safe }}
  </div>
</article>
