<aside class="sidebar">
  <span class="section-label">Wiki</span>
  <nav aria-label="Wiki navigation">
    <a href="/wiki/" class="sidebar__link sidebar__link--top{% if page.url == '/wiki/' %} sidebar__link--active{% endif %}">All Topics</a>
    <ul>
      {%- for article in collections.wiki %}
      <li>
        <a href="{{ article.url }}" class="sidebar__link{% if article.url == page.url %} sidebar__link--active{% endif %}">{{ article.data.title }}</a>
      </li>
      {%- endfor %}
    </ul>
  </nav>
</aside>
